.btn btn-light btn-block{
    color: rgb(218, 40, 70) !important;
}


.bg-danger {
    background-color: #68208b!important;
}



.text-danger {
    color: #12aff7!important;
    font-weight: 600 !important;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 700 !important;
    line-height: 1.2;
}


.navbar-dark .navbar-nav .nav-link {
    color: rgb(0 0 0) !important;
}


*, ::after, ::before {
    background: url("bckground.png") !important;

   
}


.fa-sort-down:before, .fa-sort-desc:before {
    content: "\f265" !important;
}

@media (min-width: 1200px){

    .container {
        max-width: 1050px !important;
    }

}


.navbar-dark .navbar-brand {
    color: #740055 !important;
}


.nav-link {
    display:  !important; 
    padding: 0 0.5rem 0 0.25rem!important; 
}


.btn-dark {
    color: #000 !important;
}


.fa-plus:before {
    content: "\f067";
    padding: 0.25rem !important;
}


.fa-question:before {
    content: "\f128";
    padding: 0.25rem !important;
}

.card{
    border: 2px solid rgb(29 6 6 / 88% ) !important;
    border-radius: 0.5rem !important;
}

.display-4 {
    font-size: 2.8rem !important;
    font-weight: 700 !important;
    line-height: 1.8 !important;
}

.form-control{
    border: 1.5px solid #00060b !important;
}

.list-group-item{
    border: 2px solid rgb(10 2 2 / 73%) !important;
}

body{
    font-weight: 500 !important;
}